@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,100&display=swap');

* {
  box-sizing: border-box;
  /* border: solid #5B6DCD 1px; */
}

body {
  background-color: rgba(199, 193, 193, 0.93);
  color: #fff;
  font-family: 'Roboto', 'san-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
   background-color: rgba(0, 0, 0, 0.4);
   padding: 20px 40px;
   border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: rgb(215, 206, 128);
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: rgb(215, 206, 128);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus, .form-control input:valid {
  outline: 0;
}
